@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --footer-background: #f6f6f6;
  --glow-shadow-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0f0f0f;
    --text-color: #ffffff;
    --footer-background: #161616;
    --glow-shadow-color: rgba(255, 255, 255, 0.5);
  }
}

body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

nav {
  padding: 2rem;
  background-color: rgba(var(--background-color), 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--text-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(130, 130, 130, 0.1);
  transition: padding 0.3s ease;
}

nav.scrolled,
nav.scrolled span {
  padding: 1rem;
}
nav.scrolled .nav-a {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav .logo {
  margin-right: auto;
}

nav .logo img {
  width: 50px;
  height: auto;
  border-radius: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
}

nav a .material-symbols-outlined {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

nav a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

nav.scrolled .nav-a span {
  display: inline;
}

nav.scrolled .nav-a span.material-symbols-outlined {
  display: inline;
}

nav.scrolled .nav-a span:not(.material-symbols-outlined) {
  display: none;
}

nav a span {
  display: inline-block;
  animation: fadeIn 0.3s ease forwards;
}

nav.scrolled .nav-a span:not(.material-symbols-outlined) {
  animation: fadeOut 0.3s ease forwards;
}

/* Conteúdo principal */
.hero {
  height: 100vh;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero img {
  width: auto;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
}

.hero h1 {
  color: var(--text-color);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  opacity: 0;
  animation: slideUp 1s ease-out 0.5s forwards;
}

.hero h1 span {
  transition: color 0.3s ease;
  padding: 0;
}

h1:hover .letter-w {
  color: #FFD400;
}

h1:hover .letter-a {
  color: #62FF00;
}

h1:hover .letter-t1 {
  color: #FF2222;
}

h1:hover .letter-t2 {
  color: #004DFF;
}

.hero p {
  color: #b2b2b2;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideUp 1s ease-out 1s forwards;
}

.glow {
  color: #fff;
  text-shadow: 0 0 5px var(--glow-shadow-color), 0 0 10px var(--glow-shadow-color), 0 0 15px var(--glow-shadow-color), 0 0 20px var(--glow-shadow-color), 0 0 25px var(--glow-shadow-color), 0 0 30px var(--glow-shadow-color), 0 0 35px var(--glow-shadow-color);
  animation: glow 1.5s infinite alternate;
  animation-delay: 2s;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px var(--glow-shadow-color), 0 0 10px var(--glow-shadow-color), 0 0 15px var(--glow-shadow-color), 0 0 20px var(--glow-shadow-color), 0 0 25px var(--glow-shadow-color), 0 0 30px var(--glow-shadow-color), 0 0 35px var(--glow-shadow-color);
  }
  to {
    text-shadow: 0 0 10px var(--glow-shadow-color), 0 0 20px var(--glow-shadow-color), 0 0 30px var(--glow-shadow-color), 0 0 40px var(--glow-shadow-color), 0 0 50px var(--glow-shadow-color), 0 0 60px var(--glow-shadow-color), 0 0 70px var(--glow-shadow-color);
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: left;
  height: 50vh;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.about-image {
  flex: 1;
  padding-right: 2rem;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-content {
  flex: 2;
}

.about h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.about h2 svg {
  width: 25px;
  height: auto;
  margin-right: 0.5rem;
}

.about p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #b2b2b2;
}

.services,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

.services-container,
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.services-image,
.contact-image {
  flex: 1;
  padding-right: 2rem;
}

.services-image img,
.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.services-content,
.contact-content {
  flex: 2;
}

.services h2,
.contact h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.services h2 svg,
.contact h2 svg {
  width: 25px;
  height: auto;
  margin-right: 0.5rem;
}

.services p,
.contact p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #b2b2b2;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #b2b2b2;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.contact-content {
  width: 100%;
}

.contact-content h2 {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.35rem;
}

.contact-content ul {
  list-style-type: none;
  padding: 0;
}

.contact-content li {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  color: var(--text-color);
}

footer {
  background-color: var(--footer-background);
  padding: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer a {
  font-weight: bold;
  color: #595959;
}

footer .threads-logo {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}

#my-svg {
  stroke: black;
  color: black;
  fill: black;
}

@media (prefers-color-scheme: dark) {
  #my-svg {
    stroke: white;
    color: white;
    fill: white;
  }
}
