@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --footer-background: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0F0F0F;
        --text-color: #ffffff;
        --footer-background: #161616;
    }
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    padding: 2rem;
    background-color: rgba(var(--background-color), 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(130, 130, 130, 0.1);
    transition: padding 0.3s ease;
}

nav.scrolled, nav.scrolled span {
    padding: 1rem;
}

nav.scrolled .nav-a {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav .logo {
    margin-right: auto;
}

nav .logo img {
    width: 50px;
    height: auto;
    border-radius: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
}

nav a .material-symbols-outlined {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

nav a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

nav.scrolled .nav-a span {
    display: inline;
}

nav.scrolled .nav-a span.material-symbols-outlined {
    display: inline;
}

nav.scrolled .nav-a span:not(.material-symbols-outlined) {
    display: none;
}

nav a span {
    display: inline-block;
    animation: fadeIn 0.3s ease forwards;
}

nav.scrolled .nav-a span:not(.material-symbols-outlined) {
    animation: fadeOut 0.3s ease forwards;
}

footer {
    background-color: var(--footer-background);
    padding: 0.35rem;
    text-align: center;
    font-size: 0.875rem;
    color: #666;
}

footer a {
    font-weight: bold;
    color: #595959;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}